@font-face {
  font-family:'OpenSans';
  src:url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight:400;
  font-style:normal
}
@font-face {
  font-family:'OpenSans';
  src:url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight:700;
  font-style:normal
}
body {
  font-family: 'OpenSans', 'Arial' , 'sans-serif';
  font-weight: 400;
  text-decoration: none;
  list-style: none;
  color:#000000;
  min-width: 320px;
  max-width: 1920px;
  width: 100vw;
  margin: 0 auto;
}

*{
  margin: 0;
  padding: 0;
  padding: 0;
  
  -webkit-appearance: none;
  -moz-appearance: none;
}
main, ol, li {
width: 100%;
}
a {
  text-decoration: none;
    color: #ffffff;
  -webkit-appearance:none;
  -moz-appearance: none;

}
h1 {
  font-size: 28px;
  margin: 0 auto;
  display: inline-block;
}
h2 {
  color: #e7e7e7;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1;
}
h3 {
  color: #c1c1c1;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 23px;
  letter-spacing: 1.5px;
  padding-left: 20px;
  position: relative;
}
ol {
  counter-reset: myCounter;
}
p {
  font-weight: 400;
  padding: 20px;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 20px;
}
.logo {
  width: 142px;
  padding-top: 40px;
  margin: auto;
}
.slogan1 {
  padding-top: 25vh;
  padding-left: 30px;
  width: 100%;
  line-height: 1;
  display: block;
}
.slogan2 {
  padding-top: 30px;
  padding-left: 100px;
  line-height: 1;
  display: block;
}
.storebuttons {
  padding: 86px 0;
  margin: auto;
}
.storebutton1 {
  display: flex;
  box-sizing: border-box;
  padding: 10px 86px;
  font-size: 8px;
  margin: 20px auto;
  width: 285px;
  background-color: #5e42b0;
  border-radius: 30px;
}
.icon {
  box-sizing: border-box;
  fill: #fff;
  width: 30px;
  margin-right: 10px;
}
.icon1{
  box-sizing: border-box;
  background: linear-gradient(to bottom, #7251cf, #52389d);
  fill: #fff;
  width: 72px;
  margin: 30px auto;
  padding: 15px;
  border-radius: 20%;
}
.button_text span {
  font-weight: 700;
  display: block;
}
.top, .footer {
  background-color: #071740;
  text-transform: uppercase;
  color: #ffffff
}
.top {
  background-image: url("https://github.com/ndernovskaya/Netology_diploma/blob/master/img/football_767.jpg?raw=true");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 2;
}
.top::after {
  content:"";
  background-color: #090c35;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.top_group { 
  position: relative;
  z-index: 1;
}
.section1 {
  font-weight: 700; margin-top: 30px;
  z-index: 1;
  width: 100%;
}
.section1 article {
 margin-top: 30px;
}
.list1, .list2 {
  background-color: #fafafa;
  padding: 58px 0;
  list-style: none;  
}
.list1:nth-of-type(2n) {
  background-color: #f5f4f9;
}
.list1 h3::before {

  content: '0'counter(myCounter);
  counter-increment: myCounter;
  color: #000000;
  padding-bottom: 1px;
  border-bottom: 4px solid #5e42b0;
  width: 20px;
  font-size: 14px;
  height: 16px;
  margin-right: 15px;
  box-sizing: border-box;
  vertical-align: super;
  
}
.list1:nth-of-type(3n) {
  background-color: #5e42b0;
  color: #ffffff;  
}
.list1:nth-of-type(3n) h3::before {
    border-color: #ffffff;
}
.list2:nth-of-type(2n) {
  background-color: #f5f4f9;
}
.list2:nth-of-type(3n) {
  background-color: #090c35;
  color: #ffffff;  
}
.list2 h3::before {
  
  content: '0'counter(myCounter);
  counter-increment: myCounter;
  color: #000000;
  padding-bottom: 1px;
  border-bottom: 4px solid #5e42b0;
  width: 20px;
  font-size: 14px;
  height: 16px;
  margin-right: 15px;
  box-sizing: border-box;
  vertical-align: super;
  
}
.list2:nth-of-type(3n) h3::before {
    border-color: #ffffff;
	color: #5e42b0;
}
.section1 h2 {
  padding-bottom: 40vh; 
}
.footballer, .basketballer {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.footballer::after{
  position: absolute;
  content: "";
  padding: 40px 10px;
  width: 100%;
  height: 35vh;
  background-image: url("https://github.com/ndernovskaya/Netology_diploma/blob/master/img/footballer_192.png?raw=true");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 2; 
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;  
}
.basketballer::after {
  position: absolute;
  content: "";
  height: 45vh;
  background-image: url("https://github.com/ndernovskaya/mq-diploma/blob/master/sources/img/basketballer_302.png?raw=true");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  z-index: 2;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;   
}
.beactive, .beactive_art, .beactive_wrap, .beactive_text {
  position: relative; 
}
.beactive_text {
  box-sizing: border-box;
}
.beactive_pic {
  width: 100%;
}
.beactive h2 {
  padding-top: 2rem;
}
.beactive_art h2::before {
  content: '0'counter(myCounter);
  counter-increment: myCounter;
  font-weight: 700;
  width: 5rem;
  height: 5rem;
  background-color: #5e42b0;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  color: #ffffff;
  box-sizing: border-box;
  position: absolute;
  top: -4rem;
  left: 1.5rem;
  z-index: 5;
}
.beactive_art h2::after {
	content: "";
  display: block;
  margin-top: 3px;
  margin-left: auto;
  margin-right: auto;
  width: 1rem;
  border-radius: 3px;
  background-color: #8f7bc8;
  height: 4px; 
  position: absolute;
  top: -1.5rem;
  left: 3.5rem;
  z-index: 5;
}
.number::after {
  content: "";
  display: none;
  margin-top: 3px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: #8f7bc8;
  height: 4px; 
}	
.footer {
  background-image: url("https://github.com/ndernovskaya/mq-diploma/blob/master/sources/img/game_767.jpg?raw=true");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 2;
  padding: 20px 10px;
}
.footer::after {
  content:"";
  background-color: #090c35;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.footer_group {
  position: relative; 
  z-index: 1;
  margin: auto;
  box-sizing: border-box;
}
.download {
 display: block;
 width: 280px;
 font-size: 32px;
 font-weight: 700;
 margin: auto;
 line-height: 1;
}
.download2 {
  width: 280px;
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin: auto;
  color: #9b8ec1;
  letter-spacing: 0.5px;
}

@media (min-width: 447px) and (max-width: 640px) {
  .footballer::after {
  background-image: url("https://github.com/ndernovskaya/Netology_diploma/blob/master/img/footballer_497.png?raw=true");
    }
}

@media (min-width: 641px) {
 
  
  h2 {
    font-size: 80px;
  }
  
  h3 {
    font-size: 32px;
  }
  .storebuttons {
display: flex;
    max-width: 670px;
    margin: auto;
  }
  .storebutton1 {
    max-width: 320px;
    font-size: 14px;
    border-radius: 70px;
    padding: 20px 58px; 
  }
  .icon {
  box-sizing: border-box;
  fill: #fff;
  width: 60px;
  margin-right: 10px;
}
  .icon1{
    width: 128px;
  }
  .footballer::after {
    background-position: right;
    background-size: auto 100%;
    position: absolute;
    content: "";
    width: 50%;
    height: 566px;
    padding: 0 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
  } 
  .footballer h2, .basketballer h2 {
  padding-bottom: 20px; 
  width: 50%;
}
  .section1 p {
    width: 50%;
    max-width: 700px;
  }
  .sport {
  width: 100%;
  margin-top: 90px;
    }
  .section1 h3 {
    padding-top: 43px;
  } 
  .download {
 width: 100%;
 font-size: 80px;
}
.download2 {
  width: 100%;
  font-size: 36px;
}
}
  
@media (min-width: 641px) and (max-width: 960px) {
 
   h1 {
    font-size: 64px;
    letter-spacing: 1px;
  }
  
.logo {
  width: 228px;
  padding: 40px;
  margin: auto;
}
  
  
.footballer::after {
  height: 566px;
  background-image: url("https://github.com/ndernovskaya/Netology_diploma/blob/master/img/footballer_566.png?raw=true");
  } 

 .basketballer::after {
  background-image: url("https://github.com/ndernovskaya/mq-diploma/blob/master/sources/img/basketballer_991.png?raw=true");
  height: 550px;
  width: 50%;
  background-repeat: no-repeat;
  background-position: left;
  top: -10px;
  left: 50%;
  background-size: cover;
  z-index: 3; 
 }
  
  .list1,  .footballer h2 {
   padding-left: 50%;
  }
  
  .list2, .basketballer h2 {
   padding-right: 300px;
   min-width: 70%;
  }

  
  .sport {
  width: 100%;
    }
  }
 
@media (min-width: 768px) and (max-width:1280px) {
  .top {
  background-image: url("https://github.com/ndernovskaya/Netology_diploma/blob/master/img/football_1280.jpg?raw=true");
  }
  .footer {
  background-image: url("https://github.com/ndernovskaya/mq-diploma/blob/master/sources/img/game_1280.jpg?raw=true");
}

}

@media (min-width: 768px) { 
 
 .beactive_art h2::before {
  width: 7rem;
  height: 7rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  top: -6rem;
 }

 .beactive_art h2::after {

  width: 1rem;
  height: 4px; 
  top: -2.5rem;
  left: 4.5rem;
  z-index: 5;
}
}
@media (min-width: 961px) {
  
h1 {
    font-size: 80px;
    letter-spacing: 1.2px;
  }
  
.slogan2 {
  padding-top: 5px;
  padding-left: 420px;
}
  
.logo {
  width: 199px;
  padding: 40px;
  margin: auto;
}

.storebutton1:hover {
	background-color: #6600cc;
}

  .list1,  .footballer h2 {
   padding-left: 50%;
  }
.footballer::after{
  background-image: url("https://github.com/ndernovskaya/Netology_diploma/blob/master/img/footballer_566.png?raw=true"); 
  top: 0;
  left: 0;
  height: 650px;
  } 

 .basketballer::after {
  background-image: url("https://github.com/ndernovskaya/mq-diploma/blob/master/sources/img/basketballer_991.png?raw=true");
  height: 650px;
  background-repeat: no-repeat;
  background-position: left;
  top: -10px;
  left: 50%;
  background-size: cover;
  z-index: 3; 
 }
  
  .footballer h2, .list1 h3, .list1 p {
    padding-right: 10%;
  }
  
  .basketballer h2, .list2 h3, .list2 p {
    padding-left: 10%;
  }
  
  
  .beactive_art {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

  }
  
  .beactive_art:nth-child(2n) {
    flex-direction: row-reverse;
}
 
  .beactive_art h2::before {
   top: calc(30% - 3rem);
  left: -3.5rem;
}
  
  .beactive_art:nth-of-type(2n) h2::before {
  left: calc(100% - 3.5rem);
}
  
 .beactive_art h2::after { 
  top: 31%;
  left: -0.5rem;
}
  
  .beactive_art:nth-of-type(2n) h2::after {
  left: calc(100% - 0.5rem);
}
  
  
  .beactive_wrap{
    max-width: 50%;
  }
  .beactive_pic {
    object-fit: cover;
}
  
  .beactive_text {
    width: 50%;
    padding: 5% 10%;
  }
  
  .footer_group {
    padding-top: 227px;
    width: 920px;
    margin: auto;
  }
  .icon1 {
    float: left;
    margin: 5px 30px 0 20px;
  }

  .footer_text {
    width: 768px;
    margin: auto;
  }
  
}

@media (min-width: 1281px) {
  
  .top {
background-image: url("https://github.com/ndernovskaya/Netology_diploma/blob/master/img/football_1920.jpg?raw=true");
}
  .footer {
  background-image: url("https://github.com/ndernovskaya/mq-diploma/blob/master/sources/img/game_1920.jpg?raw=true");
  }
    
  .beactive_art h2::before {
  width: 10rem;
  height: 10rem;
  padding: 3rem;
  left: calc(-5rem);
   
    }
  
  .beactive_art:nth-of-type(2n) h2::before {
  left: calc(100% - 5rem);
}
  
   .beactive_art h2::after { 
  top: 35%;
}

 .number::after {
  content: "";
  display: none;
  margin-top: 3px;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  background-color: #8f7bc8;
  height: 4px; 
 }
}